@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Indie+Flower|Raleway&display=swap');

       * {
           box-sizing: border-box;
       }

       body {
           font-family: 'Raleway';
       }
       .pageHeader {
         margin-top: 20px;
       }
       .pageTitle {
           text-align: center;
           font-family: 'Homemade Apple', cursive;
       }

       .post {

           border-radius: 4px;
           padding: 12px;
           margin: 16px auto 16px auto;
           background-color: lavenderblush;
           max-width: 840px;

       }

       .post .publishedDate {
           font-size: 80%;
           float: right;
       }
       .textCenter {
         text-align: center;
       }
       .title {
           font-family: 'Indie Flower', cursive;
           letter-spacing: 1px;
       }
       .text {
         font-size: 90%;
       }
       .post .index {
         font-family: 'Raleway', cursive;
         letter-spacing: 1px;
         text-align: right;
         font-size: 120%;
         /* float: right; */
       }
       a {
           color : #4b167c;
           text-decoration: none;
       }

       .top-menu {
         height: 48px;
         width: 48px;
         position: absolute;
         right: 10px;
         top: 10px;
         text-align: center;
         font-size: 150%;
         cursor: pointer;
       }
